[submodule "Frontend"]
	path = Frontend
	url = https://github.com/KaunazDagaz/TeamSixEventManager.Frontend.git
[submodule "Backend"]
	path = Backend
	url = https://github.com/KaunazDagaz/TeamSixEventManager.Backend.git
